* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    background: url("https://images.unsplash.com/photo-1513279922550-250c2129b13a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80") no-repeat center center fixed;
}

header {
    display: flex;
    justify-content:right;
    align-items: center;
    color: white;
    background-color: rgba(27, 39, 65, 0.469);
    opacity: 0.9;
    height: 75px;
    width: 100vw;
    flex-direction: row;
}

header > nav > a {
    color: white;
    text-decoration: none;
    display: inline-block;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    margin-right: 25px;
    padding: 8px;
    width: auto;
    opacity: 1;
    z-index: 2;
    border: 2px white solid;
    border-radius: 5px;
}

header > h1{
    display: inline;
    position: absolute;
    left: 25px;
    width: 75vw;
    justify-content: left;
    
}

h1 > a {
    color: white;
    text-decoration: none;
}

main {
    width: 100vw;
    height: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px;
    margin-bottom: 500px;
    
}

.dateCard {
    width: 50vw;
    height: 35vh;
    background-color: rgba(255, 255, 255, 0.386);
    opacity: .9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 25vw;
    top: 15vh;
    border-radius: 10px;
    margin-bottom: 200px;
}

#cardDiv {
    padding: 20px;

}

button {
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.522);
    margin-bottom: 75px;
    font-size: larger;
    cursor: pointer;
}



