* {
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
}

html {
    background: url("/profJPG") repeat center center fixed;
    height: 100%;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.79);
    opacity: 1;
    height: auto;
    flex-direction: row;
    box-shadow: 0px 1px 50px rgb(0, 0, 0);
}

header > nav {
    display: inline-flex;
    height: auto;
    justify-content: center;
    align-items: right;
    text-align: center;
}

header>nav>a {
    color: rgb(0, 0, 0);
    background-color: white;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    width: auto;
    opacity: 1;
    z-index: 2;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 1px 10px white;
    font-size: large;
}


header>h1 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;

}

h1>a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 5px;
    border-radius: 10px;
    transition: 0.6s;
    align-items: flex-end;
    justify-content: right;
}

h1>a:hover {
    text-shadow: 0px 0px 25px rgba(255, 255, 255, 0.878);
}

.main {
    display: flex;
    width: auto;
    height: 90%;
    justify-content: center;
    align-items: center;
}

.profile {
    margin: 10px;
    width: 90%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.31);
    box-shadow: 0px 2px 20px white;
    transition: .5s 
}

.profile:hover {
    background-color: rgba(0, 0, 0, 0.902);
    box-shadow: 0px 2px 20px rgb(0, 0, 0);
}

#loginForm {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px;
    padding: 10px;
    border-radius: 15px;
    position: absolute;
    color: white;
    justify-content: center;
    align-items: center;
    transition: .5s ;
    
}

#loginForm > h1 {
    font-size: xx-large;
}

#email {
    display: flex;
    height: auto;
    width: auto;
    padding: 20px;
    text-align: left;
    margin-top: 10px;
    font-size: large;
    border-radius: 5px;
    border: 0;
    word-wrap: break-word;
    box-shadow: 0px 2px 20px white;
    font-size: x-large;
}

#password {
    display: flex;
    height: auto;
    width: auto;
    padding: 20px;
    text-align: left;
    margin-top: 10px;
    font-size: large;
    border-radius: 5px;
    border: 0;
    word-wrap: break-word;
    box-shadow: 0px 2px 20px white;
    font-size: x-large;
}

#loginBtn {
    border: none;
    width: auto;
    height: auto;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    font-size: large;
    cursor: pointer;
    box-shadow: 0px 2px 20px white;

}

body {
    height: 100vh;
    width: auto;
}

footer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.843);
    opacity: 1;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 10%;
    box-shadow: 0px 1px 20px rgba(255, 255, 255, 0.813);
}

footer>h3>a {
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 1px 10px white;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

footer>h3>a:hover {
    text-shadow: 0px 0px 25px rgba(255, 255, 255, 0.878);
    box-shadow: none;
    box-shadow: 0px 1px 0px 5px rgb(255, 255, 255);
}
