* {
    padding: 0px;
    margin: 0px;
    box-sizing: content-box;
}

footer {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.555);
    opacity: 1;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 10%;
    box-shadow: 0px 1px 20px rgba(255, 255, 255, 0.813);
}

footer > h3 > a {
    text-decoration: none;
    color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 1px 10px white;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    transition: .2s;
}

footer>h3>a:hover {
    text-shadow: 0px 0px 25px rgba(255, 255, 255, 0.878);
    box-shadow: none;
    box-shadow: 0px 1px 0px 5px rgb(255, 255, 255);
}